{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block head_title %}Nashville Hearts Me{% endblock %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

        <!-- Pre Styling -->
        <style>
            /*
            body {
                opacity: 0;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -ms-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                transition: opacity 500ms;
            }
            body.show {
                opacity: 1;
            }
            */
        </style>

        <!-- Vendor Styles -->
        <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

        <!-- App Styles -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />

        <!-- Vendor JS -->
        <!-- <script src=""></script> vendors/jquery -->

        <!-- App JS -->
        <!-- <script src=""></script> -->

        {% block pagecss %} {% endblock %}
    </head>

    <body>

        <div class="wrapper">

            {% block content %} {% endblock %}

        </div><!-- /.wrapper -->

        {% block pagejs %} {% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

    </body>

</html>
